*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
android/Led-Cube-App/.idea/inspectionProfiles/Project_Default.xml
android/Led-Cube-App/.idea/misc.xml
